/* VISUAL ELEMENTS */

Toolbar
{
	background-color: var(--Initium-colors-window-dark-grey-1);
	height: var(--Initium-metrics-window-pixels-35);
}

TextField
{
	padding: var(--Initium-metrics-window-pixels-4);
}


Button
{
	background-color: var(--Initium-colors-window-dark-grey-5);
	border-color: var(--Initium-colors-window-dark-grey-1);
	margin: var(--Initium-metrics-window-pixels-4);
	max-height: var(--Initium-metrics-window-pixels-25);
}

Button:hover
{
	background-color: var(--Initium-colors-window-dark-grey-2);
}

Button:active
{
	background-color: var(--Initium-colors-window-dark-grey-3);
	color: var(--Initium-colors-window-yellow);
}

/* BUILT-IN */

.unity-text-field__label
{
	padding: var(--Initium-metrics-window-pixels-4);
}

TextField:focus > .unity-text-field__label
{
	color: var(--Initium-colors-window-yellow);
}

.unity-text-field__input
{
	background-color: var(--Initium-colors-window-dark-grey-1);
	border-color: var(--Initium-colors-window-dark-grey-6);
	border-radius: var(--Initium-metrics-window-pixels-4);
	max-height: var(--Initium-metrics-window-pixels-25);
	min-width: var(--Initium-metrics-window-pixels-120);
	padding-left: var(--Initium-metrics-window-pixels-6);
}

.unity-text-field__input:focus
{
	color: var(--Initium-colors-window-yellow);
}

.Initium-toolbar__button__selected
{
	color: var(--Initium-colors-window-yellow);
}